{{ define "main" }}
    <div class="CV">

        <div class="CV-Details">
            <div class="CV-Details-Name">
                <span>Graham Smith</span>
            </div>
            <div class="CV-Details-Links">
                <span><a href="mailto:g@blaxian.com">g@blaxian.com</a></span>
                <span><a href="https://www.linkedin.com/in/gablaxian/" target="_blank" rel="noopener noreferrer">linkedin.com/in/gablaxian</a></span>
            </div>
        </div>

        <section class="CV-professional-profile">
            <h3>Professional Profile</h3>

            <p>
                A highly experienced Software Engineer and Manager with over 20 years of expertise in building 
                scalable web applications and services, with a recent focus on cybersecurity platform engineering.
                I have experience leading technical initiatives, driving architectural decisions, and enabling
                both internal and external customers through robust, extensible solutions.
            </p>
        </section>

        <section class="CV-technical-skills">
            <h3>Technical Skills</h3>

            <ul>
                <li><strong>Ways of working:</strong> <a href="https://basecamp.com/shapeup" target="_blank" rel="noopener noreferrer">Shape Up</a>, Agile</li>
                <li><strong>Languages:</strong> Typescript, JavaScript, PHP, Ruby, Go, Rust</li>
                <li><strong>Frameworks:</strong> Node.js, ExpressJS, Vue, Jest, CraftCMS, Laravel, Ruby on Rails</li>
                <li><strong>Datastores:</strong> PostgreSQL, MySQL, BigQuery, MongoDB</li>
                <li><strong>DevOps:</strong> AWS & GCP, CI/CD (e.g., CircleCI, Github Actions), Docker, Kubernetes, Terraform</li>
                <li><strong>Tools:</strong> Git, SVN, Adobe Photoshop, After Effects & Premier</li>
            </ul>
        </section>

        <section>
            <h3 class="CV-Section-header">Experience</h3>

            <div class="Employment">
                
                <div class="Employment-position">Senior Software Engineer at <a href="https://snyk.io" target="_blank" rel="noopener noreferrer">Snyk</a></div>
                <div class="Employment-dates">
                    <time>Apr 2025</time> <span class="arr">→</span> <time>Jun 2025</time>
                </div>

                <div class="Employment-details">
                    <p>
                        Returned to an IC role to further grow my technical skills and lead a new Platform Enablement
                        team to set best-practices for a more customer-centric Platform product. I spent my time:
                    </p>
                    <ul>
                        <li>Writing new enablement and communication strategies for teams in Platform Engineering</li>
                        <li>
                            Planning and executing an organisation-wide feature rollout, using Windsurf and AI,
                            impacting over 20 teams, achieving 0% disruption and 100% increase in adoption
                        </li>
                    </ul>
                    <p>This role was cut short due to layoffs.</p>
                </div>
            </div>

            <div class="Employment">
                
                <div class="Employment-position">Engineering Manager at <a href="https://snyk.io" target="_blank" rel="noopener noreferrer">Snyk</a></div>
                <div class="Employment-dates">
                    <time>February 2022</time> <span class="arr">→</span> <time>Apr 2025</time>
                </div>

                <div class="Employment-details">
                    <p class="team">Team: API</p>
                    <p>Led a team of 3-7 engineers responsible for the REST API Program and Webhooks products.</p>
                    <ul>
                        <li>
                            Collaborated with Product management, customers and stakeholders to design and implement APIs,
                            API standards and API tooling to deliver and iterate on a new REST API interface based on
                            OpenAPI and JSON:API to the whole R&D organisation to become the default Snyk API.
                        </li>
                        <li>Assisted in the development of linting rules and documentation to improve the consistency of our APIs</li>
                        <li>
                            Developed, hosted and maintained a new API documentation platform, and later led the consolidation and
                            migration of our API documentation systems into a central user documentation platform
                        </li>
                        <li>Hired and mentored an intern on their trajectory to a full-time associate engineer role.</li>
                    </ul>
                    
                    <p class="team">Team: Snyk Apps/Partner Integrations</p>
                    <p>
                        Took over management of two teams responsible for Snyk Apps and AWS and GCP Partner Integrations.
                        Later, took on the REST API and Webhooks ownerships to further the Extensibility story at Snyk, enabling customers
                        and partners to build securely and reliably on the Snyk Platform.
                    </p>
                    <ul>
                        <li>Unified two teams into one and re-shaped the product vision</li>
                        <li>
                            Collaborated with Product management, Bizdev and partner solutions engineers to define and execute
                            a roadmap to deliver our beta features, Snyk Apps, a Slack App integration and our AWS Partner Integrations
                            as robust, scalable production-ready products.
                        </li>
                    </ul>

                    <p class="team">Additional impact:</p>
                    <ul>
                        <li>
                            Delivering business value aligned to the company goals in incremental slices using the
                            Shape Up methodology.
                        </li>
                        <li>Providing team members with regular feedback, mentoring, and coaching.</li>
                    </ul>
                </div>
            </div>

            <div class="Employment">
            
                <div class="Employment-position">Software Engineer at <a href="https://snyk.io" target="_blank" rel="noopener noreferrer">Snyk</a></div>
                <div class="Employment-dates">
                    <time>April 2018</time> <span class="arr">→</span> <time>February 2022</time>
                </div>

                <div class="Employment-details">
                    <p class="team">Team: Enterprise</p>
                    <p>
                        Started as employee 37 and watched Snyk grow to over 1500. I joined the team in charge of the SaaS app. 
                    </p>
                    <ul>
                        <li>Maintained the ExpressJS App</li>
                        <li>Delivered performance improvements to improve the scalability of product features</li>
                        <li>Built new product capabilities</li>
                        <li>Re-built the project import flow in Vue, for improved user experience and performance</li>
                        <li>
                            Participated in on-call rotations, maintining and supporting production services
                            and handling customer support tickets
                        </li>
                    </ul>

                    <p class="team">Team: Governance</p>
                    <p>
                        Seeded a new team responsible for the existing Reporting product
                    </p>
                    <ul>
                        <li>
                            Helped re-architect and deliver a new Reporting V2 product in Vue for improved user
                            experience and performance and additional product features.
                        </li>
                        <li>
                            Assisted in maintaining and improving the BigQuery data structures and ETL pipelines
                            that powered the real-time reporting capabilities.
                        </li>
                    </ul>
                    
                    <p class="team">Team: API</p>
                    <p>
                        After Snyk acquired a specialist third-party integrations company, I was once again asked to seed a new team
                        in a newly formed Extensibility Group created to better enable customers and partners to build
                        on top of the Snyk platform. My team was responsible for the new API Program and Webhooks product.
                    </p>
                    <ul>
                        <li>
                            Extracted the webhooks product from the monorepo to a new microservice, helping to improve
                            the performance and scalability of webhooks and team velocity for feature development.
                        </li>
                        <li>
                            Collaborated with select teams to deliver new APIs on the REST API to prove out the
                            standards and tooling that would lay the foundation for how REST APIs were delivered throughout
                            the rest of the organisation.
                        </li>
                        <li>Developed middleware, linters and generators to enable teams to build against the new REST API</li>
                    </ul>
                    </p>
                </div>
            </div>

            <div class="Employment">

                <div class="Employment-position">Senior Front-end Web Developer at <a href="https://clearleft.com" target="_blank" rel="noopener noreferrer">Clearleft</a></div>
                <div class="Employment-dates">
                    <time>September 2013</time> <span class="arr">→</span> <time>February 2018</time>
                </div>

                <div class="Employment-details">
                    <p>
                        Responsibilities included building pattern portfolios for clients, developing internal CMS-driven sites built
                        on <a href="https://craftcms.com/" target="_blank" rel="noopener noreferrer">Craft</a> for Clearleft itself
                        and also their events, e.g. dConstruct, UX London, Ampersand and Leading Design.
                    </p>
                    <p>
                        Separate to building sites, I helped maintain Digital Ocean droplets for hosting our sites and projects along
                        with building and maintaining custom PHP scripts that managed a local development environment
                        using Vagrant, VirtualBox and Ubuntu and CI/CD deployments.
                    </p>
                    <p>Through Clearleft I worked with such clients as: eLife, Penguin Random House, Wellcome Collection</p>
                </div>
            </div>

            <div class="Employment">

                <div class="Employment-position">Freelance Web Developer</div>
                <div class="Employment-dates">
                    <time>March 2010</time> <span class="arr">→</span> <time>September 2013</time>
                </div>

                <div class="Employment-details">
                    <p>I worked in a freelance capacity for anyone who needed an extra pair of hands for their projects.</p>
                    <p>
                        During this time I worked with technologies such as PHP, Python, Ruby, JavaScript (including Canvas),
                        CSS and HTML using frameworks like Wordpress, ExpressionEngine, Laravel, Magento, Joomla, Django,
                        Ruby on Rails, jQuery and require.js
                    </p>
                </div>
            </div>

            <div class="Employment">
                
                <div class="Employment-position">
                    Web Developer at <a href="http://smrs.co.uk/" target="_blank" rel="noopener noreferrer">SMRS</a>
                </div>
                <div class="Employment-dates">
                    <time>August 2007</time> <span class="arr">→</span> <time>February 2010</time>
                </div>

                <div class="Employment-details">
                    <p>
                        My work here covered a wide variety of roles. I started by building an internal Scheduling system to
                        help manage the time of people in the Studio and supporting the product by creating Ad banners and
                        HTML emailers for clients.
                    </p>
                    <p>
                        Later I moved on to join the rest of the small web team building recruitment systems for clients
                        for the processing of job applications and CVs and their hosting requirements. I took Photoshop page
                        designs and built them from scratch, using progressive enhancement to cater for less capable browsers
                        which were typically built in Ruby on Rails, PHP and MySQL, HTML, CSS and JQuery.
                    </p>
                    <p>
                        Through SMRS, I’ve done work for clients such as Sky, Next, Chubb Security, HDNL and Skipton Building Society.
                    </p>
                </div>
            </div>

            <div class="Employment">
                <div class="Employment-position">
                    <span>Web Developer at Progressive Recruitment / HNW Journal</span>
                </div>
                <div class="Employment-dates">
                    <time>August 2004</time> <span class="arr">→</span> <time>August 2007</time>
                </div>

                <div class="Employment-details">
                    <p>
                        Joined a small recruitment company, Progressive Recruitment, who later released a newsletter and physical magazine.
                    </p>
                    <p>
                        The role covered developing both the recruitment company and the magazine&rsquo;s websites and internal CRM,
                        administering the Linux servers, various http servers, MySQL servers, the network and samba server.
                        I also acted as advertising designer, technical journalist, computer technician and backup systems.
                    </p>
                </div>
            </div>

        </section>

        <section>
            <h3>Interests and Hobbies</h3>
            <p>
                I have a passion for retro games and own a number of old games consoles, notably of the 16-bit and 64-bit era.
                I am working my way up to modding them, but have only got as far as guiltily staring at the unused soldering
                iron. I was also bitten by the coffee bug a year or two ago and spend too much time learning everything I can
                from James Hoffman, and making espressos or filter coffess with the Aeropress or V60. When I do finally leave
                the house, I go climbing at my local bouldering gym.
            </p>
        </section>

        <section>
            <h3>Additional Skills</h3>
            <p>I have advanced skills using Adobe Photoshop, Adobe After Effects and Adobe Premier. I’ve worked on some short videos, one for the <a href="https://vimeo.com/35507448">2011 Build Conference</a>, and a handful of 30s horror shorts for the annual Sheffield Celluloid Screams event.</p>
        </section>

        <section>
            <h3>Education</h3>

            <div class="Education">
                <div class="Education-University">
                    UMIST / Manchester
                </div>
                <div class="Employment-dates">
                    <time>August 2004</time> <span class="arr">→</span> <time>August 2007</time>
                </div>
                <div>
                    <span>BSc Artificial Intelligence</span>
                </div>
            </div>
        </section>

    </div>
{{ end }}