.arr {
    font-size: px2rem(12px);
}
.CV {
    section {
        padding-top: 2rem;
        border-top: 1px solid #ccc;
        margin-top: 2rem;
    }
    li {
        margin-top: 0.5rem;
    }
}

.CV-Header {
    font-size: px2rem(36px);
}

.CV-Details-Name {
    font-size: px2rem(32px);
    font-weight: 600;
}
.CV-Details-Links {
    margin-top: 0.5rem;
    a {
        display: inline-block;
        font-size: px2rem(14px);
        margin-right: 1rem;
    }
}

.CV-technical-skills {
    strong {
        font-weight: 600;
    }
}

.Employment + .Employment {
    margin-top: 4rem;
}
.Employment-dates {
    color: #666;
    font-size: px2rem(12px);
    font-weight: 500;
    text-transform: uppercase;
}
.Employment-position {
    font-size: px2rem(22px);
    font-weight: 500;
}
.Employment-details {
    font-size: px2rem(16px);

    .team {
        font-weight: 500;
    }
}

.key-skills {
    font-size: px2rem(14px);
    font-weight: 700;
}
