{{ define "main" }}
<div class="Grid Grid--two-thirds">
  <section class="Entries">
    {{ range first 5 .Site.RegularPages }}
    <article class="Entry">

      <header class="Entry-header">
        <a href="{{ .RelPermalink }}">
          <h2>{{ .Title }}</h2>
        </a>

        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | time.Format "2 Jan 2006" }}</time>
      </header>

      <div>
        <p>{{ .Summary }}</p>
      </div>

    </article>
    {{ end }}
  </section>

  <aside class="NotThatYouCare">
    <h3>Currently Playing</h3>
{{ $data := slice }}
{{ $file := "data/playing.csv" }}
{{ with or (.Resources.Get $file) (resources.Get $file) }}
  {{ $opts := dict "targetType" "map" }}
  {{ $data = transform.Unmarshal $opts . }}
{{ end }}

{{ with $data }}
    <ul>
      {{ range . }}
        <li class="{{ .system }}">{{ .title }} <span>({{ .system }})</span></li>
      {{ end }}
    </ul>
{{ end }}

    <h3>Recently Completed</h3>
{{ $data = slice }}
{{ $file = "data/completed.csv" }}
{{ with or (.Resources.Get $file) (resources.Get $file) }}
  {{ $opts := dict "targetType" "map" }}
  {{ $data = transform.Unmarshal $opts . }}
{{ end }}

{{ with $data }}
      <ul>
        {{ $count := 0 }}
        {{ range . }}
          {{ if lt $count 10 }}
        <li class="{{ .system }}">{{ .title }} <span>({{ .system }})</span></li>
          {{ end }}
          {{ $count = add $count 1 }}
        {{ end }}
      </ul>
{{ end }}

    <h3>Gaming Networks</h3>

    <ul>
        <li><a href="http://steamcommunity.com/id/gablaxian" rel="noopener noreferrer" target="_blank">Steam</a></li>
        <li><a href="https://www.xboxgamertag.com/search/gablaxian/" rel="noopener noreferrer" target="_blank">Xbox Live</a></li>
        <li><a href="https://eu.battle.net/d3/en/profile/gablaxian-2624/hero/50250088" rel="noopener noreferrer" target="_blank">Battle.net - gablaxian#2624</a></li>
        <li><a href="https://my.playstation.com/gablaxian" rel="noopener noreferrer" target="_blank">PSN</a></li>
    </ul>
  </aside>

</div>
{{ end }}